body {
    background-color: lightblue;
    font-family: monospace;
    margin: 20px;
}

section{
    width: 1200px;
    height: 500px;
    
    background-color: papayawhip;
    margin: auto;
    margin-top: 0px;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

body.home {
    background-color: grey;
    background-image: url(pics/ghibli_background.png) ;
}


div.home-block {
    text-align: center;
    padding: 50px ;          
    margin: 0;                 
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    color: white;
}

section {
    background-color: rosybrown;
    margin: 0 auto;                
    padding: 20px;
    box-sizing: border-box;
    width: 800;   
    opacity: 0.99;
}
body.lasagna {
     background-image: url(pics/lasagna_bg.png);
    background-size: cover;
}

body.mochi{
     background-image: url(pics/mochi_bg.png);
    background-size: cover;
}
body.crumble{
    background-image: url(pics/crumble_bg.png);
    background-size: cover;
    
}

.header {
    display: flex;
    gap: 20px; 
    padding: 10px 20px;
}

.header a {
    text-decoration: none;
    color: black; 
    font-weight: bold;
}

.header a.home-link {
    font-size: 1.5em; 
}


.back {
    width: 70%;
    margin: 40px auto;
    padding: 35px;
    background: rgba(255, 249, 240, 0.9);
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(60,40,20,.2);
    backdrop-filter: blur(4px);
}

h2 {
    padding-bottom:5px;
    border-bottom:2px solid #d3c5b2;
}

p {
    padding-bottom: 10px;
}